<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="soisy_get_token_for_order" instance="Soisy\PaymentMethod\Observer\GetTokenForOrder" />
    </event>
</config>